<div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            SSN
          </th>
          <th>
            Starting Date
          </th>
          <th>
            Visa Status
          </th>
         
          <th>
          <!-- <th> -->
            # of Total
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let user of currentUsers; let key = index;">
            <td>{{user.employeeID}}</td>
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.ssn}}</td>
            <td>{{user.startdate}}</td>
            <td>
              <span *ngFor="let visa of visaStatus">
                <span *ngIf="visa.employeeid == user.employeeID">{{visa.visatype}}</span>
              </span>
            </td>
            
            <td>
              <!-- <td> -->
                <{{key+1}} / {{ users?.length }}>
              </td>
          </tr>
          <tr *ngIf="!users">
              <td colspan="4" class="text-center">
                  <span class="spinner-border spinner-border-lg align-center"></span>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>