<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> House Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">House Address: </th>
                  <td>{{ house.address }}</td>
                  
                </tr>
                <tr>
                  <th scope="row">LandLord: </th>
                  <td>{{ house.landlord}}</td>
                  
                </tr>
                <tr>
                  <th scope="row">Phone: </th>
                  <td colspan="2">{{ house.phone }}</td>
                 
                </tr>

                <tr>
                    <th scope="row">Email: </th>
                    <td colspan="2">{{ house.email }}</td>
                   
                  </tr>
  
                <tr>
                  <th scope="row">Number of people: </th>
                  <td colspan="2">{{ house.numberofperson }}</td>              
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Facility Information</h4>
         
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"># of Mattress: </th>
                  <td>{{ facility.numberofbeds }}</td>
                  
                </tr>
                <tr>
                  <th scope="row"># of Tables: </th>
                  <td>10</td>
                  
                </tr>
                <tr>
                  <th scope="row"># of Beds: </th>
                  <td colspan="2">8</td>
                 
                </tr>
  
                <tr>
                  <th scope="row"># of Chairs: </th>
                  <td colspan="2">10</td>              
                </tr>
  
                <tr>
                  
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  
                    <table class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Facility Report</th>
                          <th scope="col">Title</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr *ngFor="let facilityreport of facilityreports">
                          <th scope="row"> {{facilityreport.facilityreportid}} </th>
                          <td>{{facilityreport.title}}</td>
                          <td>{{facilityreport.reportdate}}</td>
                          <td>{{facilityreport.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  
                  </div>
                             
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Employee Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
  
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Car</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let employee of employees">
                    <th scope="row">{{employee.employeeID}}</th>
                    <td>{{employee.firstname}}</td>
                    <td>{{employee.email}}</td>
                    <td>@{{employee.car}}</td>
                  </tr>
                </tbody>
              </table>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    
  </div>
  