<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> House Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">House Address: </th>
                  <td>123 Ave. Princeton, NJ</td>
                  
                </tr>
                <tr>
                  <th scope="row">LandLord: </th>
                  <td>ABC</td>
                  
                </tr>
                <tr>
                  <th scope="row">Phone: </th>
                  <td colspan="2">123-323-4949</td>
                 
                </tr>
  
                <tr>
                  <th scope="row">Number of people: </th>
                  <td colspan="2">3</td>              
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Facility Information</h4>
         
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"># of Mattress: </th>
                  <td>8</td>
                  
                </tr>
                
                <tr>
                  <th scope="row"># of Tables: </th>
                  <td>10</td>
                  
                </tr>
                <tr>
                  <th scope="row"># of Beds: </th>
                  <td colspan="2">8</td>
                 
                </tr>
  
                <tr>
                  <th scope="row"># of Chairs: </th>
                  <td colspan="2">10</td>              
                </tr>
  
                <tr>
                  
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  
                    <table class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Facility Report</th>
                          <th scope="col">Title</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><a>1</a></th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  
                  </div>
                             
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Employee Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
  
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Car</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a>abc</a></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">bsa</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">ppp</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">iuiu</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">ddd</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    
  </div>
  