<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Registration Token Generation</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-11 pr-1">
              <div class="form-group">
                <label>Employee Email Address</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div *ngIf="disabled" class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-success btn-round">Generate Token and Send Email</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Application Review</h5>
      </div>
      <div class="card-body">
        <div >
          <table class="table">
            <thead class=" text-primary">
              <th>
                EmployeeID
              </th>   
              <th>
                Type
              </th>          
              <th>
                Show
              </th>
            </thead>
            <tbody>       
              <tr *ngFor="let formOrDoc of formOrDocs">
                <td>
                  <div class="update ml-auto mr-auto">
                    {{formOrDoc.employeeID}}
                  </div>
                </td>
                <td>
                  <div *ngIf="formOrDoc.status === 'pending'" class="update ml-auto mr-auto">
                    Register
                  </div>
                  <div *ngIf="formOrDoc.status === 'optpending'" class="update ml-auto mr-auto">
                    STEM OPT
                  </div>
                </td>
                <td>
                    <div *ngIf="formOrDoc.status === 'pending'" class="update ml-auto mr-auto">
                      <button (click)="showDetailForm(formOrDoc.employeeID)" class="btn btn-info btn-round">Detail</button>
                    </div>
                    <div *ngIf="formOrDoc.status === 'optpending'" class="update ml-auto mr-auto">
                      <button (click)="showDetailDoc(formOrDoc.employeeID)" class="btn btn-info btn-round">Detail</button>
                    </div>
                </td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Application Review Detail</h5>
      </div>
      <div class="card-body">
        <div *ngIf="!isDocApp && !isFormApp">
          <p class="card-category">Please click detail button to view.</p>
        </div>
        <div *ngIf="isFormApp">
          <p class="card-category">This is form to show.</p>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="approve()" class="btn btn-success btn-round">Approve</button>
            </div>
            <div class="update ml-auto mr-auto">
              <button (click)="reject()" class="btn btn-danger btn-round">Reject</button>
            </div>
          </div>
        </div>
        <div *ngIf="isDocApp">
          <p class="card-category">This is doc to show</p>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="approve()" class="btn btn-success btn-round">Approve</button>
            </div>
            <div class="update ml-auto mr-auto">
              <button (click)="reject()" class="btn btn-danger btn-round">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
