<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Registration Token Generation</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="emailFB">
          <div class="row">
            <div class="col-md-11 pr-1">
              <div class="form-group">
                <label>Employee Email Address</label>
                <input name="email" type="email" class="form-control" placeholder="" formControlName="email">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button [disabled]="this.emailFB.invalid" type="submit" class="btn btn-success btn-round">Generate Token and Send Email</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Application Review</h5>
      </div>
      <div class="card-body">
        <div >
          <table class="table">
            <thead class=" text-primary">
              <th>
                EmployeeID
              </th>   
              <th>
                Type
              </th>          
              <th>
                Show
              </th>
            </thead>
            <tbody>       
              <tr *ngFor="let formOrDoc of formOrDocs">
                <td>
                  <div class="update ml-auto mr-auto">
                    {{formOrDoc.employeeID}}
                  </div>
                </td>
                <td>
                  <div *ngIf="formOrDoc.status === 'pending'" class="update ml-auto mr-auto">
                    Register
                  </div>
                  <div *ngIf="formOrDoc.status === 'optpending'" class="update ml-auto mr-auto">
                    STEM OPT
                  </div>
                </td>
                <td>
                    <div *ngIf="formOrDoc.status === 'pending'" class="update ml-auto mr-auto">
                      <button (click)="showDetailForm(formOrDoc)" class="btn btn-info btn-round">Detail</button>
                    </div>
                    <div *ngIf="formOrDoc.status === 'optpending'" class="update ml-auto mr-auto">
                      <button (click)="showDetailDoc(formOrDoc)" class="btn btn-info btn-round">Detail</button>
                    </div>
                </td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Application Review Detail</h5>
      </div>
      <div class="card-body">
        <div *ngIf="!isDocApp && !isFormApp">
          <p class="card-category">Please click detail button to view.</p>
        </div>
        <div *ngIf="isFormApp">
          <p class="card-category">This is form to show.</p>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Registration Form For {{this.employee.firstname}} {{this.employee.lastname}}</h5>
                  <div class="form-outline">
                    <label class="form-label" for="comment">Comment(Optional for approval)</label>
                    <textarea class="form-control" id="comment" name="comment" [(ngModel)]="comment" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="approve()" class="btn btn-success btn-round">Approve</button>
            </div>
            <div class="update ml-auto mr-auto">
              <button [disabled]="comment === ''" (click)="reject()" class="btn btn-danger btn-round">Reject</button>
            </div>
          </div>
        </div>
        <div *ngIf="isDocApp">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">I-983</h5>
                  <button class="btn btn-outline-info col-md-12" (click)="showi983()">Show / Hide PDF</button>
                  <a class="btn btn-outline-primary col-md-12" href="http://localhost:8080/api/file/user_{{this.employee.userID}}_I-983.pdf">Download</a>
                  <div *ngIf="i983" class="row">
                    <div class="col-md-6">
                      <pdf-viewer src="http://localhost:8080/api/file/user_{{this.employee.userID}}_I-983.pdf"
                      [render-text]="true"
                      [fit-to-page]="true"
                      style="display: block;">
                      </pdf-viewer>
                    </div>
                  </div>

                  <form [formGroup]='pdForm'>
                    <div class="form-outline">
                      <label class="form-label" for="comment1">Comment for rejection</label>
                      <textarea class="form-control" id="comment1" name="comment1" rows="4" formControlName="comment"></textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="disabled1" class="update ml-auto mr-auto">
              <button (click)="onChange()" class="btn btn-success btn-round">Upload signed pdf and approve</button>
            </div>
            <div *ngIf="!disabled1" class="update ml-auto mr-auto">
              <form-upload [userID]='this.employee.userID' [employeeID]='this.employee.employeeID' fileType='I-983'></form-upload>
                <button (click)="onChange()" class="btn btn-round">Cancel</button>
            </div>
            <!-- <div class="update ml-auto mr-auto">
              <button (click)="approveDoc()" class="btn btn-success btn-round">Approve</button>
            </div> -->
            <div class="update ml-auto mr-auto">
              <button [disabled]="this.pdForm.value.comment === ''" (click)="rejectDoc()" class="btn btn-danger btn-round">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
