<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#/employee/user">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">{{this.form.value.firstname + ' ' + this.form.value.lastname}}</h5>
          </a>
        </div>
        <br>
        <hr>
        <div class="row">
          <div *ngIf="disabled6; else elseBlock6" class="update ml-auto mr-auto">
            <button (click)="onChange6()" class="btn btn-primary btn-round">Edit Avatar</button>
          </div>
          <ng-template #elseBlock6>
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-success btn-round">Upload</button>
            </div>
            <div class="update ml-auto mr-auto">
              <button (click)="onChange6()" class="btn btn-round">Cancel</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Contact Info</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Personal Email</label>
              <input type="email" class="form-control" [attr.disabled]="disabled1? true : null" placeholder="Email" formControlName="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail2">Work Email</label>
              <input type="email" class="form-control" [attr.disabled]="disabled1? true : null" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputPhone1">Cell Phone</label>
              <input type="text" class="form-control" [attr.disabled]="disabled1? true : null" placeholder="Phone" formControlName="cellphone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputPhone2">Work Phone</label>
              <input type="text" class="form-control" [attr.disabled]="disabled1? true : null" placeholder="Phone" formControlName="alternatephone">
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="disabled1; else elseBlock" class="update ml-auto mr-auto">
            <button (click)="onChange1()" class="btn btn-primary btn-round">Edit</button>
          </div>
          <ng-template #elseBlock>
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-success btn-round">Save</button>
            </div>
            <div class="update ml-auto mr-auto">
              <button (click)="clickMethod()" class="btn btn-round">Cancel</button>
            </div>
          </ng-template>
        </div>
      </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Employment</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form3">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="workAuth">Work Authorization</label>
                <input type="text" class="form-control" [attr.disabled]="disabled5? true : null" formControlName="visatype">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="workAuthStart">Work Authorization Start Date</label>
                <input type="date" class="form-control" [attr.disabled]="disabled5? true : null" formControlName="visastartdate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="workAuthEnd">Work Authorization End Date</label>
                <input type="date" class="form-control" [attr.disabled]="disabled5? true : null" formControlName="visaenddate">
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="disabled5; else elseBlock5" class="update ml-auto mr-auto">
              <button (click)="onChange5()" class="btn btn-primary btn-round">Edit</button>
            </div>
            <ng-template #elseBlock5>
              <div class="update ml-auto mr-auto">
                <button type="submit" (click)="onSubmit3()" class="btn btn-success btn-round">Save</button>
              </div>
              <div class="update ml-auto mr-auto">
                <button (click)="clickMethod()" class="btn btn-round">Cancel</button>
              </div>
            </ng-template>
          </div>
        </form>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employmentStart">Employment Start Date</label>
                <input type="date" class="form-control" [attr.disabled]="disabled2? true : null" placeholder="" formControlName="startdate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employmentEnd">Employment End Date</label>
                <input type="date" class="form-control" [attr.disabled]="disabled2? true : null" placeholder="" formControlName="enddate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="employeeTitle">Title</label>
                <input type="text" class="form-control" [attr.disabled]="disabled2? true : null" placeholder="Job Title Here" formControlName="title">
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="disabled2; else elseBlock2" class="update ml-auto mr-auto">
              <button (click)="onChange2()" class="btn btn-primary btn-round">Edit</button>
            </div>
            <ng-template #elseBlock2>
              <div class="update ml-auto mr-auto">
                <button type="submit" (click)="onSubmit()" class="btn btn-success btn-round">Save</button>
              </div>
              <div class="update ml-auto mr-auto">
                <button (click)="clickMethod()" class="btn btn-round">Cancel</button>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="!disabled3" class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="John" formControlName="firstname">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Doe" formControlName="lastname">
              </div>
            </div>
          </div>
          <div *ngIf="disabled3" class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" disabled="" placeholder="John Doe" [value]="this.form.value.firstname + ' ' + this.form.value.lastname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Preferred Name</label>
                <input type="text" class="form-control" [attr.disabled]="disabled3? true : null" placeholder="N/A" formControlName="preferredname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control" [attr.disabled]="disabled3? true : null" placeholder="" formControlName="dob">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Age</label>
                <input type="number" class="form-control" disabled placeholder="2">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Gender</label>
                <select id="cars" name="cars" class="form-control" [attr.disabled]="disabled3? true : null" formControlName="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Non-Binary">Non-Binary</option>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="!disabled3" class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>SSN</label>
                <input type="text" class="form-control" [attr.disabled]="disabled3? true : null" placeholder="***-**-****" formControlName="ssn">
              </div>
            </div>
          </div>
          <div *ngIf="disabled3" class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>SSN(Only last 4 digits)</label>
                <input type="text" class="form-control" disabled="" placeholder="" [value]="'***-**-' + this.form.value.ssn.slice(-4)">
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="disabled3; else elseBlock3" class="update ml-auto mr-auto">
              <button (click)="onChange3()" class="btn btn-primary btn-round">Edit</button>
            </div>
            <ng-template #elseBlock3>
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-success btn-round">Save</button>
              </div>
              <div class="update ml-auto mr-auto">
                <button (click)="clickMethod()" class="btn btn-round">Cancel</button>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Address</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form2" (ngSubmit)="onSubmit2()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address Line 1</label>
                <input type="text" class="form-control" [attr.disabled]="disabled4? true : null" placeholder="Street Name" formControlName="addressLine1">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address Line 2</label>
                <input type="text" class="form-control" [attr.disabled]="disabled4? true : null" placeholder="Apt, Building etc." formControlName="addressLine2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" [attr.disabled]="disabled4? true : null" placeholder="City Name" formControlName="city">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" [attr.disabled]="disabled4? true : null" placeholder="State Full Name" formControlName="stateName">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Zip Code</label>
                <input type="text" class="form-control" [attr.disabled]="disabled4? true : null" placeholder="ZIP Code" formControlName="zipcode">
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="disabled4; else elseBlock4" class="update ml-auto mr-auto">
              <button (click)="onChange4()" class="btn btn-primary btn-round">Edit</button>
            </div>
            <ng-template #elseBlock4>
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-success btn-round">Save</button>
              </div>
              <div class="update ml-auto mr-auto">
                <button (click)="clickMethod()" class="btn btn-round">Cancel</button>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Emergency Contact</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Full Name
                </th>             
                <th>
                  Phone
                </th>
                <th>
                  Address
                </th>
              </thead>
              <tbody>             
                <tr *ngFor="let contact of contacts">
                  <td>
                    {{contact.fullname}}
                  </td>
                  <td>
                    {{contact.phone}}
                  </td>
                  <td>
                    {{contact.address}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Document Selection</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Title
                </th>             
                <th>
                  Created Date
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>             
                <tr>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    123-234-4009
                  </td>
                  <td>

                    <div class="row">
                      <div class="update ml-1 mr-1">
                        <button type="submit" class="btn btn-primary btn-round">Download</button>
                      </div>
                      <div class="update ml-1 mr-1">
                        <button type="submit" class="btn btn-danger btn-round">Delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
