<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
  
  
  <label>
    <input type="file" class="form-control"  (change)="selectFile($event)">
  </label>
  
  <button class="btn btn-success btn-round" [disabled]="!selectedFiles" (click)="upload()">Upload</button>