<div class="row">

  <!-- Visa Staus 部分 -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Visa Status</h4>
      </div>

      <div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Employee ID</label>
                <input type="text" class="form-control" disabled="" value={{currEmployee.employeeID}}>
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" disabled="" value={{currEmployee.firstname}}>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Visa Type</label>
                <input type="email" class="form-control" disabled="" value="稍后连接数据">
              </div>
            </div>
          </div>
          <hr> -->
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Step 1: OPT Receipt
                  <br />
                  <span class="text-muted">
                    <small>No file</small>
                  </span>
                </div>
                <div class="update">
                  <!-- <button type="submit" class="btn btn-primary btn-round">Select</button> -->
                  <button type="btn" class="btn btn-primary btn-round" (click)="setPicUrl1()">View</button>  
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  STEP 2: OPT EAD
                  <br />
                  <span class="text-success">
                    <small>PASS</small>
                  </span>
                </div>
                <div class="update">
                  <!-- <button type="submit" class="btn btn-primary btn-round">Select</button> -->
                  <!-- <button type="submit" class="btn btn-primary btn-round">{{currEmployee.employeeID}}</button> -->
                  <button type="btn" class="btn btn-primary btn-round" (click)="setPicUrl2()">View</button>   
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  STEP 3: I-983
                  <br />
                  <span class="text-danger">
                    <small>Rejected</small>
                  </span>
                </div>
                <div class="update">
                  <!-- <button type="submit" class="btn btn-primary btn-round">Select</button> -->
                  <!-- <button type="submit" class="btn btn-primary btn-round">{{currEmployee.employeeID}}</button>   -->

                  <button type="btn" class="btn btn-primary btn-round" (click)="setPicUrl3()">View</button> 
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  STEP 4: I-20
                  <br />
                  <span class="text-danger">
                    <small>Rejected</small>
                  </span>
                </div>
                <div class="update">
                  <button type="submit" class="btn btn-primary btn-round">View</button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://image.freepik.com/free-icon/todo-list_318-10185.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  STEP 5: OPT STEM Receipt
                  <br />
                  <span class="text-success">
                    <small>Completed</small>
                  </span>
                </div>
                <div class="update">
                  <button type="submit" class="btn btn-primary btn-round">View</button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="https://image.freepik.com/free-icon/todo-list_318-10185.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  STEP 6: OPT STEM EAD
                  <br />
                  <span class="text-success">
                    <small>Pending</small>
                  </span>
                </div>
                <div class="update">
                  <button type="submit" class="btn btn-primary btn-round">View</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>

  <!-- ----- Document 查看部分  ---- -->
  <div class="col-md-6">
    <div class="card card-user">

      <div class="card-header">
        <h4 class="card-title">Document Viewer</h4>
      </div>

      <div >
        <div class="card-body">
          <div >
            <img src={{picUrl}} alt="...">
          </div>
        </div>
        <div class="card-footer">
          <form>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  Comment
                  <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Download</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  
</div>