<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Visa Status</h4>
    </div>
    <div *ngIf="this.visaStatus.visatype != 'F1/OPT'">
      <h5 class="card-title">Hi {{this.employee.firstname + ' ' + this.employee.lastname}}, there's no available options for your visa status.</h5>
    </div>
    <div *ngIf="this.visaStatus.visatype == 'F1/OPT'">
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li *ngFor="let item of files; let i = index">
            <div class="row">
              <div class="col-md-1 col-2">
                <br>
                <div class="avatar">
                  <img *ngIf="this.flowNo >= i + 1" src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  <img *ngIf="this.flowNo < i + 1" src="https://image.freepik.com/free-icon/todo-list_318-10185.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-5 col-7">
                Step {{i + 1}}: {{item}}
                <br>
                <span *ngIf="i == 2 && (this.flowNo == 2.5 || this.flowNo == 3.5); else elseBlock">
                  <small *ngIf="this.flowNo == 2.5" class="text-danger">HR Message: {{this.workFlow.comments}}</small>
                  <br>
                  <small *ngIf="this.flowNo == 2.5" class="text-danger">Rejected</small>
                  <small *ngIf="this.flowNo == 3.5" class="text-warning">Pending</small>
                </span>
                <ng-template #elseBlock>
                  <br>
                  <span *ngIf="this.flowNo >= i + 1" class="text-success">
                    <small>Completed</small>
                  </span>
                  <span *ngIf="this.flowNo < i + 1" class="text-muted">
                    <small>Not yet started</small>
                  </span>
                </ng-template>
              </div>
              <div class="col-md-6 update">
                <app-details-upload *ngIf="this.flowNo >= i + 1" fileUpload="user_{{this.userID}}_{{this.fileType[i]}}.pdf"></app-details-upload>
                <div *ngIf="this.flowNo >= i && this.flowNo < i + 1 && disabled && this.flowNo != 3.5" class="update ml-auto mr-auto">
                  <button (click)="onChange()" class="btn btn-primary btn-round">Upload</button>
                </div>
                <div *ngIf="this.flowNo >= i && this.flowNo < i + 1 && !disabled" class="update ml-auto mr-auto">
                  <form-upload [userID]='this.userID' [employeeID]='this.employeeID' [fileType]='this.fileType[i]'></form-upload>
                  <button (click)="onChange()" class="btn btn-round">Cancel</button>
                </div>
              </div>
            </div>
            <hr/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>