<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Visa Status Management</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                Name (Legal)
              </th>
              <th>
                Work Authorization
              </th>
              <th>
                Expiration Date
              </th>
              <th>
                Day Left
              </th>
              <th class="text-right">
              <!-- <th> -->
               Action Required
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  #001
                </td>
                <td>
                  Barry Yu
                </td>
                <td>
                  F1/OPT
                </td>
                <td>
                  Sep 01, 2022
                </td>
                <td>
                  360
                </td>
                <td> 
                  <div class="update ml-auto mr-auto">
                    <button type="btn" class="btn btn-primary btn-round">Send Notification</button>
                  </div>
                </td>
            
              </tr>
              <tr>
                <td>
                  #002
                </td>
                <td>
                  AAA
                </td>
                <td>
                  F1/OPT
                </td>
                <td>
                  Sep 01, 2022
                </td>
                <td>
                  360
                </td>
                <td> 
                  <div class="update ml-auto mr-auto">
                    <button type="btn" class="btn btn-primary btn-round">Send Notification</button>
                  </div>
                </td>
            
              </tr>
              <tr>
                <td>
                  #003
                </td>
                <td>
                  BBB
                </td>
                <td>
                  F1/OPT
                </td>
                <td>
                  Sep 01, 2022
                </td>
                <td>
                  360
                </td>
                <td> 
                  <div class="update ml-auto mr-auto">
                    <button type="btn" class="btn btn-primary btn-round">Send Notification</button>
                  </div>
                </td>
            
              </tr>
              <tr>
                <td>
                  #004
                </td>
                <td>
                  CCC
                </td>
                <td>
                  F1/OPT
                </td>
                <td>
                  Sep 01, 2022
                </td>
                <td>
                  360
                </td>
                <td> 
                  <div class="update ml-auto mr-auto">
                    <button type="btn" class="btn btn-primary btn-round">Send Notification</button>
                  </div>
                </td>
            
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr>
    <h4>以下是测试内容</h4>
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        Toggle
      </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          You can collapse this card by clicking Toggle
        </div>
      </div>
    </div>
  </div>
 
</div>
