
 <div class="row">

    <div class="col-md-4" *ngFor="let house of houses">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            
              <img class="avatar border-gray" src="assets/img/house1.jpg" alt="...">
              
              <a routerLink="housingdetail/{{ house.houseID }}" > <h5 class="title">House {{ house.houseID }}</h5> </a>
            
          </div>
          <p class="text-center">
            Address: {{ house.address }}
            
            <br> Landlord: {{ house.landlord}}
            <br> phone: {{ house.phone }}
            <br> Email: {{ house.email }}
            <br> Number of Employee: {{ house.numberofperson }}
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
            </div>
          </div>
        </div>

      </div>
    </div>

   
  </div>

  
