<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Housing </h4>
      </div>
      <div class="card-header">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  House ID
                </th>             
                <th>
                  Address
                </th>
                <th>
                  Number of Person
                </th>
                <th>
                  Landlord
                </th>
              </thead>
              <tbody>
                <tr>
                  
                  
                  <td>{{ house.houseID }}</td>
                  <td>{{ house.address }}</td>
                  <td>{{ house.numberofperson }}</td>
                  <td>{{ house.landlord }}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>             
              <th>
                Phone number
              </th>
            </thead>
            <tbody>             
                           
              <tr *ngFor="let employee of employees">
                <td>
                  {{ employee.firstname }}
                </td>
                <td>
                  {{ employee.cellphone }}
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Facility Report</h4>
        <p class="card-category"> </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Title
              </th>
              <th>
                Description
              </th>
              <th>
                CreatedBy
              </th>
              <th>
                Report Date
              </th>
              <th>
                Status
              </th>
              <th class="text-right">
                Comment
              </th>
            </thead>
            <tbody>                                           
              <tr *ngFor="let facilityreport of facilityreports">
                <td>
                 {{facilityreport.title}}
                </td>
                <td>
                  {{facilityreport.description}}
                </td>
                <td>
                  {{facilityreport.reportdate}}
                </td>
                 <td>
                  {{facilityreport.status}}
                </td>
                <td>
                  {{facilityreport.title}}
                </td>
                 <td class="text-right">
                  <p>Solved by bcd on 09/01/2021</p>
                  <!-- <a routerLink="housingdetail/{{ house.houseID }}" > <h5 class="title">House {{ house.houseID }}</h5> </a> -->
                  <a routerLink="reportcomment/{{ facilityreport.facilityreportid }}" class = "btn btn-primary btn-sm" role = "button">Details</a>
                 </td>  
              </tr>    
            </tbody>           
          </table>          
        </div>   
        <br><br><br>
 
        <div *ngIf="hide" class="row">
          <div class="update ml-auto mr-auto">
            
            <a class = "btn btn-primary btn-round" (click)="onChange()" role = "bbutton"> add new report </a>
          </div>
        </div>  

        <div *ngIf="!hide" class="card">
          <div class="card-body">
            <form [formGroup]="form">
              <br><br>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4 pl-5 pr-5">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form6Example1" class="form-control" formControlName="title"/>
                    <label class="form-label" for="form6Example1">Title</label>
                  </div>
                </div>
                
                <div class="col">
                  <div class="form-outline">                   
                    <label class="form-label" for="form6Example2"></label>
                  </div>
                </div>
              </div>      
            
              <!-- Message input -->
              <div class="form-outline mb-4 pl-5 pr-5">
                <input type="text" id="form6Example2" class="form-control" formControlName="description"/>               
                <label class="form-label" for="form6Example7">Description</label>
              </div>
            
              <!-- Submit button -->
              <div class="pl-5">
                <button (click)="onSubmit()" class="btn btn-primary btn-round">add</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
