<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Housing </h4>
      </div>
      <div class="card-header">
        <p class="card-title"> Address: 1246 W 30th Street </p>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>             
              <th>
                Phone number
              </th>
            </thead>
            <tbody>             
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  123-234-4009
                </td>
              </tr>
              <tr>
                <td>
                  Ken Black
                </td>
                <td>
                  898-292-2929
                </td>
              </tr>
              <tr>
                <td>
                  Sisley Amber
                </td>
                <td>
                  123-234-4009
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Facility Report</h4>
        <p class="card-category"> </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Title
              </th>
              <th>
                Description
              </th>
              <th>
                CreatedBy
              </th>
              <th>
                Report Date
              </th>
              <th>
                Status
              </th>
              <th class="text-right">
                Comment
              </th>
            </thead>
            <tbody>                             
              <tr>                
              </tr>
              <tr>                
              <tr>
                <td>
                 Pipe Issue
                </td>
                <td>
                 Water leak
                </td>
                <td>
                  abc
                </td>
                 <td>
                  09/01/2021
                </td>
                <td>
                  In progress
                </td>
                 <td class="text-right">
                  <p>Solved by bcd on 09/01/2021</p>
                  <a class = "btn btn-primary btn-sm" herf = "#" role = "bbutton"> Detail </a>
                 </td>  
              </tr>     
              
              
              <tr>                
              </tr>
              <tr>                
              <tr>
                <td>
                 Pipe Issue
                </td>
                <td>
                 Water leak
                </td>
                <td>
                  abc
                </td>
                 <td>
                  09/01/2021
                </td>
                <td>
                  In progress
                </td>
                 <td class="text-right">
                  <p>Solved by bcd on 09/01/2021</p>
                  <a class = "btn btn-primary btn-sm" herf = "#" role = "bbutton"> Detail </a>
                 </td>  
              </tr>    


              <tr>                
              </tr>
              <tr>                
              <tr>
                <td>
                 Pipe Issue
                </td>
                <td>
                 Water leak
                </td>
                <td>
                  abc
                </td>
                 <td>
                  09/01/2021
                </td>
                <td>
                  In progress
                </td>
                 <td class="text-right">
                  <p>Solved by bcd on 09/01/2021</p>
                  <a class = "btn btn-primary btn-sm" herf = "#" role = "bbutton"> Detail </a>
                 </td>  
              </tr>    



            </tbody>           
          </table>          
        </div>   
        <p class = "text-center"></p>   
        <div class="row">
          <div class="update ml-auto mr-auto">
            <a class = "btn btn-primary btn-round" herf = "#" role = "bbutton"> add new report </a>
            <!-- <button type="submit" class="btn btn-primary btn-round"></button> -->
          
          </div>
        </div>  



        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" />
                <label class="form-label" for="form6Example1">Title</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example2" class="form-control" />
                <label class="form-label" for="form6Example2">Description</label>
              </div>
            </div>
          </div>      
        
          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Additional information</label>
          </div>
        
          
        
          <!-- Submit button -->
          <a class = "btn btn-primary btn-round" herf = "#" role = "bbutton"> add </a>
        </form>
      </div>
    </div>
  </div>
</div>
