<div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Comment</h4>
          <p class="card-category"> </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Title
                </th>
                <th>
                  CreatedBy
                </th>
                <th>
                  Report Date
                </th>
                <th>
                  Status
                </th>
                
              </thead>
              <tbody>                             
                <tr>                
                </tr>
                <tr>                
                <tr>
                  <td>
                   Pipe Issue
                  </td>
                  <td>
                   abc
                  </td>
                  <td>
                    09/01/2021
                  </td>
                   <td>
                    In progress
                  </td>
                </tr>     
                
              </tbody>           
            </table>         
        </div>
        <p>Detail Description</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel erisque nulla sed luctus dapibus.</p>
  
            <div>         
              <label for="exampleFormControlTextarea1"></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <button type="submit" class="btn btn-primary btn-round"> add comment </button>
            </div>
          
        <div class="container">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <section class="post-heading">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="media">
                        <div class="media-left">
  
                        </div>
                        <div class="media-body">
                          <a href="#" class="anchor-username">
                            <h4 class="media-heading">User1</h4>
                          </a>
                          <a href="#" class="anchor-time">03/02/2021</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    </div>
                  </div>
                </section>
                <section class="post-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                    erisque nulla sed luctus dapibus. </p>
                    <button type="submit" class="btn btn-primary btn-round"> update comment </button>
                </section>
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <section class="post-heading">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="media">
                        <div class="media-left">
  
                        </div>
                        <div class="media-body">
                          <a href="#" class="anchor-username">
                            <h4 class="media-heading">User2</h4>
                          </a>
                          <a href="#" class="anchor-time">03/03/2021</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    </div>
                  </div>
                </section>
                <section class="post-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                    erisque nulla sed luctus dapibus. </p>
                    <button type="submit" class="btn btn-primary btn-round"> update comment </button>
                </section>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="update ml-auto mr-auto">
  
      
  
    </div>
  
  </div>