<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="onboarding.component.css">
</head>

<body>


  <form class="form-token">
    <h1 class=" mb-3">Fill in Your Info</h1>
    <h3>About You</h3>
    <div class="form-sameline3">
      <input type="text" id="firstname" class="form-control" pattern="[A-Z][a-z]{1,}"
             placeholder="First Name" [(ngModel)]="fname" name="fname" required>
      <input type="text" id="lastname" class="form-control" pattern="[A-Z][a-z]{1,}"
             placeholder="Last Name" [(ngModel)]="lname" name="lname" required>
      <input type="text" id="middlename" class="form-control" pattern="[a-zA-Z]{1,}"
             placeholder="Middle Name" [(ngModel)]="mname" name="mname">
    </div>
      <input type="password" id="ssn" class="form-control" pattern="[0-9]{9}"
             placeholder="SSN" [(ngModel)]="ssn" name="ssn" required>

    <h3>Date of Birth</h3>
    <input type="date" id="dob" class="form-control"
           placeholder="Your Date of Birth" [(ngModel)]="dob" name="dob" required>

    <h3>Gender</h3>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="gender" name="gender" required>
        <option value="">Choose ...</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="empty">Other / Prefer Not to Answer / Not Applicable</option>
      </select>
    </div>

    <h3>Upload an Avatar If You Like</h3>
    <input type="file" id="avatar" class="form-control" placeholder="Upload an Avatar">

    <h3>Your Contact Info</h3>
    <input type="text" id="addressline1" class="form-control"
           placeholder="First Line of Your Address" [(ngModel)]="address1" name="address1" required>
    <input type="text" id="addressline2" class="form-control"
           placeholder="Second Line of Your Address" [(ngModel)]="address2" name="address2">
    <div class="form-sameline3">
      <input type="text" id="addresscity" class="form-control" pattern="[a-z]{1,}"
             placeholder="City" [(ngModel)]="city" name="city" required>
      <input type="text" id="addressstate" class="form-control" pattern="[A-Z]{2}"
             placeholder="State Abbreviation" [(ngModel)]="state" name="state" required>
      <input type="text" id="addresszipcode" class="form-control" pattern="[0-9]{5}"
             placeholder="Zipcode" [(ngModel)]="zipcode" name="zipcode" required>
    </div>
    <input type="tel" id="cellphone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
           placeholder="Your Phone Number (123-456-7890)" [(ngModel)]="phone" name="phone" required>

    <h3>Your Car's Info</h3>
    <div class="form-sameline3">
      <input type="text" id="carmaker" class="form-control"
             placeholder="Your Car's Maker" [(ngModel)]="carMaker" name="carMaker">
      <input type="text" id="carmodel" class="form-control"
             placeholder="Your Car's Model" [(ngModel)]="carModel" name="carModel">
      <input type="text" id="carcolor" class="form-control"
             placeholder="Your Car's Color" [(ngModel)]="carColor" name="carColor">
    </div>
    <h3>Your Email Address</h3>
    <input type="text" id="email" class="form-control" disabled="disabled" placeholder={{newUserEmail}}>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="registerAttempt()">Submit</button>
  </form>
</body>
</html>
