<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-12">
            <div class="numbers">
              <p class="card-category">Welcome,</p>
              <p class="card-title">HR {{this.employee.firstname + ' ' + this.employee.lastname}}!
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a class="btn btn-info btn-round" href="#/employee">View My Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="alert alert-danger alert-dismissible fade show">
          <h5><b> Employees Whose Visa will expires in 100 days!!! </b></h5>
          <br>
          <h5>Notify your employee ASAP!</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">

            <thead class=" text-primary">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Name (Legal)
                </th>
                <th>
                  Work Authorization
                </th>
                <th>
                  Expiration Date
                </th>
                <th>
                  Day Left
                </th>
                <th></th>
              </tr>
            </thead>
            
            <tbody *ngFor="let user of users" >
              <tr *ngFor="let visa of visaStatus" (click)="trExpand(user.employeeID)" (click)="setCurrEmployee(user)">
                <!-- <span *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID"> -->
                    <td *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID">
                      {{user.employeeID}}
                    </td>
                    <td *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID">
                      {{user.firstname}} {{user.lastname}}
                    </td>
                    <td *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID">{{visa.visatype}}</td>
                    <td *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID">{{user.enddate}}</td>
                    <td *ngIf="calculateDiff(visa.visaenddate)<100 && visa.employeeid == user.employeeID">
                      <span *ngFor="let visa of visaStatus">
                        <span *ngIf="visa.employeeid == user.employeeID">{{calculateDiff(visa.visaenddate)}}</span>
                      </span>
                    </td>
                <!-- </span> -->
              </tr>
            
              <!-- ------ 展开部分（开始）------ -->
              <tr *ngIf="expand_employeeId == user.employeeID" >
                <td></td>
                <td colspan="4">
                  <tr *ngFor="let visa of visaStatus" style="background-color:lavender">
                    <td *ngIf="visa.employeeid == user.employeeID" >
                      <tr>
                        <td><b>Name:</b></td>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                      </tr>
                      <tr>
                        <td><b>Visa:</b> </td>
                        <td>{{visa.visatype}}</td>
                      </tr>
                      <tr>
                        <td><b>Start Date:</b></td>
                        <td>{{visa.visastartdate}}</td>
                      </tr>
                      <tr>
                        <td><b>End Date:</b></td>
                        <td>{{visa.visaenddate}}</td>
                      </tr>
                    </td>
                    <td *ngIf="visa.employeeid == user.employeeID"></td>
                    <td *ngIf="visa.employeeid == user.employeeID" colspan="1">
                      <tr><td><b>Document Received:</b></td></tr>
                      <!---开始--- 连接 S3 拿文件 -------->
                      <tr *ngFor="let fileUpload of fileUploads">
                        <td> 
                          <!-- 文件名 -->
                          <tr>
                            <td>
                              <div class="update ml-auto mr-auto">
                                {{fileUpload}}
                              </div>
                            </td>
                            <!-- 下载文件 -->
                            <td>
                              <div class="update ml-5 mr-5">
                                <app-details-upload [fileUpload]='fileUpload'></app-details-upload>
                              </div>
                            </td>
                          </tr>
                        </td>
                      </tr>
                      <!---结束--- 连接 S3 拿文件 ------->                        
                    </td>
                    <td *ngIf="visa.employeeid == user.employeeID" colspan="1">
                      <tr><td><b>Next Step:</b></td></tr>
                      <!---开始--- 拿下一步状态 -------->
                      <tr *ngFor="let ap of applicationWorkFlows">
                        <td *ngIf="expand_employeeId == ap.employeeID">
                          <tr>
                            <!-- 文件名 -->
                            <td>
                              <div class="update ml-auto mr-auto">
                                {{ap.status}}
                              </div>
                            </td>
                            <!-- 下载文件 -->
                            <td>
                              <!-- <div class="update ml-5 mr-5">
                                <app-details-upload [fileUpload]='fileUpload'></app-details-upload>
                              </div> -->
                              <button type="btn" (click)="notify(user.email)" class="btn btn-primary btn-round">Send Notification</button>
                            </td>
                          </tr>
                        </td>
                      </tr>
                      <!---结束--- 拿下一步状态 ------->    
                    </td>  
                    <!-- 这个scope 不能多加任何 td -->
                  </tr>
                </td>
              </tr>
              <!-- ------- 展开部分（结束）------- -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
