<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-12">
            <div class="numbers">
              <p class="card-category">Welcome,</p>
              <p class="card-title">HR {{this.employee.firstname + ' ' + this.employee.lastname}}!
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a class="btn btn-info btn-round" href="#/employee">View My Info</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title" style="color: red;"> Danger - Flowing Visa Valid less than 100 days:</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Name (Legal)
                </th>
                <th>
                  Work Authorization
                </th>
                <th>
                  Expiration Date
                </th>
                <th>
                  Day Left
                </th>
                <!-- <th>
                   Action
                </th> -->
              </tr>
            </thead>
            
            <tbody *ngFor="let user of users" >
              <!-- <span *ngIf="calculateDiff(visa.visaenddate) <=100">
                <h1>测试</h1>
              </span> -->
            
              <tr (click)="trExpand(user.employeeID)" (click)="setCurrEmployee(user)">
                <td>{{user.employeeID}}</td>
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td>
                  <span *ngFor="let visa of visaStatus">
                    <span *ngIf="visa.employeeid == user.employeeID">{{visa.visatype}}</span>
                  </span>
                </td>
                <td>{{user.enddate}}</td>
                <td>
                  <span *ngFor="let visa of visaStatus">
                    <span *ngIf="visa.employeeid == user.employeeID">{{calculateDiff(visa.visaenddate)}}</span>
                  </span
                ></td>

                <!-- <td>{{user.enddate.timestamp| }}</td> -->

                <!-- <td>
                  <div class="update ml-auto mr-auto">
                    <button type="btn" class="btn btn-primary btn-round" (click)="setCurrEmployee(user)">Select</button>    
                  </div>
                </td> -->
              </tr>

              <tr *ngIf="expand_employeeId == user.employeeID" >
                  <!-- <td></td> -->
                  <td></td>
                  <td colspan="3">
                    <tr *ngFor="let visa of visaStatus" style="background-color:lavender">
                      <td *ngIf="visa.employeeid == user.employeeID" colspan="2">
                        <tr><td><b>Name:</b> {{user.firstname}} {{user.lastname}}</td></tr>
                        <tr><td><b>Visa:</b> {{visa.visatype}}</td></tr>
                        <tr><td><b>Start Date:</b> {{visa.visastartdate}}</td></tr>
                        <tr><td><b>End Date:</b> {{visa.visaenddate}}</td></tr>
                      </td>
                      <td *ngIf="visa.employeeid == user.employeeID" >
                        <tr><td><b>Document Received:</b></td></tr>
                        <tr><td>未接上 S3 数据库</td>
                          <button type="btn" class="btn btn-sm btn-outline-success btn-round" (click)="setPicUrl1()">Open</button>
                        </tr>
                        <tr><td>未接上 S3 数据库</td>
                          <button type="btn" class="btn btn-sm btn-outline-success btn-round" (click)="setPicUrl2()">Open</button>
                        </tr>
                        <tr><td>未接上 S3 数据库</td>
                          <button type="btn" class="btn btn-sm btn-outline-success btn-round" (click)="setPicUrl3()">Open</button>
                        </tr>
                      </td>
                      <td *ngIf="visa.employeeid == user.employeeID" >
                        <tr><td><b>Next Step:</b></td></tr>
                        <tr><td>未接上 S3 数据库&nbsp;&nbsp;</td><button type="btn" (click)="notify(user.email)" class="btn btn-primary btn-round">Send Notification</button></tr>
                      </td>  
                      
                    </tr>
                    
                  </td>
                  <td></td>
                  
                  <!-- 不需要 picture viewer，改成用 API下载 -->
                  <!-- <td  class="text-right" colspan="2">
                    <div class="card card-user">
                      <div *ngIf="currEmployee">
                        <div class="card-body">
                          <div >
                            <img class="documnet-viewer"src={{picUrl}} alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                  </td> -->
                  
              </tr>

              <!-- <tr *ngIf="expand_employeeId == user.employeeID" >
                <div class="card card-user">
                  <div *ngIf="currEmployee">
                    <div class="card-body">
                      <div >
                        <img src={{picUrl}} alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </tr> -->

              <!-- <tr *ngFor="let visa of visaStatus"  style="border-bottom:solid;background-color:lightgrey" >
                <td *ngIf="visa.employeeid == user.employeeID"></td>
                <td  *ngIf="visa.employeeid == user.employeeID">haha </td>
                <td  *ngIf="visa.employeeid == user.employeeID">haha </td>
                <td  *ngIf="visa.employeeid == user.employeeID">haha </td>
                <td  *ngIf="visa.employeeid == user.employeeID">haha </td>
                <td  *ngIf="visa.employeeid == user.employeeID"></td>
              </tr> -->
              <tr *ngIf="!users">
                  <td colspan="4" class="text-center">
                      <span class="spinner-border spinner-border-lg align-center"></span>
                  </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


