<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-7 col-md-12">
            <div class="numbers">
              <p class="card-category">Welcome,</p>
              <p class="card-title">HR {{this.employee.firstname + ' ' + this.employee.lastname}}!
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <a class="btn btn-info btn-round" href="#/employee">View My Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
